<hr>
<section class="mt-5 pt-5">
<div class="container">
  <footer class="">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
       <div class="mt-4 pt-4 border-top">Життя в ритмі Zumba – слідкуй за нами!</div>
       <div class="d-flex flex-column flex-sm-row justify-content-between pt-2 mt-2 mb-2 pb-2 ">
        <ul class="list-unstyled d-flex">
         <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/instagram.svg"></a>
        </li>
         <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/facebook.svg"></a>
        </li>
         <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/messenger.svg"></a>
        </li>
        <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/telegram.svg"></a>
        </li>
        <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/whatsapp.svg"></a>
        </li>
        <li class="ms-3"><a class="link-body-emphasis" href="#">
            <img class="bi" width="24" height="24" src="static/assets/svgs/twitter-x.svg"></a>
        </li>
      </ul>
      </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 mb-2 pb-2 border-top">
      <p>© 2024 Company, Inc. All rights reserved.</p>

    </div>
  </footer>
</div>
</section>